.pcs-toggle-card{
  border-left: 4px solid #fff;
  border-radius: 4px 0 0 4px;
  padding: 16px 12px;
  background:#fff;
  &.closed{
    border-left: 4px solid $main-color;
  }
  .next-card.next-card-free .next-card-content-container{
    margin-top: 12px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.pcs-toggle-card-title{
  height: 48px;
  justify-content: space-between;
  background: $color-bg-light;
  padding: 0 12px 0 8px;
  border-radius: 4px;
  .pcs-toggle-card-title-left{


  }
  .pcs-toggle-card-title-right{


  }
}