@charset "utf-8";
.setfastentry.t-r-p{
    border-radius: 10px;
    // min-width: 160px;
    padding: 0 10px;
    overflow: hidden;
    margin-left: 10px;
    .rp-top{
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
    }
    .rp-button{
      min-width: 120px;
      height: 36px;
      border: 1px solid rgba(195,203,213,1);
      background: #fff;
      border-radius: 8px;
      margin: 0 auto 10px;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      padding: 0 10px;
      &:hover, &.active{
        background: $main-color;
        color: #fff;
      }
    }
}