@charset "utf-8";
.setfastentry.t-r-p{
    border-radius: px2rem(10);
    // min-width: px2rem(160);
    padding: 0 px2rem(10);
    overflow: hidden;
    margin-left: px2rem(10);
    .rp-top{
      height: px2rem(42);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: px2rem(14);
      font-weight: bold;
    }
    .rp-button{
      min-width: px2rem(120);
      height: px2rem(36);
      border: px2rem(1) solid rgba(195,203,213,1);
      background: #fff;
      border-radius: px2rem(8);
      margin: 0 auto px2rem(10);
      text-align: center;
      line-height: px2rem(36);
      cursor: pointer;
      font-size: px2rem(12);
      font-weight: 500;
      padding: 0 px2rem(10);
      &:hover, &.active{
        background: $main-color;
        color: #fff;
      }
    }
}